# ignorar el dataset y modelos de lab05
/Laboratories/lab05/datasets/
/Laboratories/lab05/models/

# ignorar el dataset y modelos del primer parcial
/Evaluations/1erParcial/datasets/
/Evaluations/1erParcial/models/

# ignorar el dataset y modelos de la defensa de laboratorios
/Evaluations/DefensaLab/dataset
/Evaluations/DefensaLab/models/

# ignorar los modelos entranados de lab06
/Laboratories/lab06/models/

# ignorar dataset de lab07
/Laboratories/lab07/datasets/
/Laboratories/lab07/models/
/Laboratories/lab07/lightning_logs/

# ignorar modelos de computer vision
/Computer Vision/04 Segmentacion/models