# ignorar el dataset de lab05
/Laboratories/lab05/datasets/

# ignorar los modelos entrenados de lab05
/Laboratories/lab05/models/

# ignorar el dataset del primer parcial
/Evaluations/1erParcial/datasets/

# ignorar los modelos entrenados del primer parcial
/Evaluations/1erParcial/models/

# ignorar el dataset de la defensa de laboratorios
/Evaluations/DefensaLab/dataset

# ignorar los modelos entrenados de la defensa de laboratorios
/Evaluations/DefensaLab/models/

# ignorar los modelos entranados de lab06
/Laboratories/lab06/models/